@{
    ViewBag.Title = "Profile Update Successfull";
}

<h2 class="page-title">Profile Update Successfull</h2> 


  



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () { 

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

        });
        </script>
 
}







