@{
    ViewBag.Title = "Login Failure";
}

<hgroup class="title">
    <h2 class="page-title"> @ViewBag.Title.</h2>
    <h2 class="page-title">Unsuccessful login with service.</h2>
</hgroup>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () { 

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

        });
        </script>
 
}







